# Игнорировать директорию с модулями Node.js
node_modules/

# Игнорировать логи и временные файлы
logs/
*.log
npm-debug.log*

# Игнорировать файлы сборки и папку сборки
dist/
build/

# Игнорировать файлы конфигурации
.env
.env.local

# Игнорировать файлы с настройками редактора
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать зависимости, созданные с помощью npm или yarn
package-lock.json
yarn.lock

# Игнорировать временные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы с генерируемым содержимым
coverage/
